.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    &__div{
        font-size: 70px;
        letter-spacing: 15px;
        color: var(--primary-color);
        text-transform: uppercase;
        span{
            display: inline-block;
        }
    }
}