.benefits {
    .content{
        width: 100%;
        padding: 0 70px;
    }
    .section_title {
        position: relative;
        margin: 0;
        margin-bottom: 60px;
        line-height: 0.8;
        font-size: 70px;
        text-align: center;
        color: var(--primary-color);
        text-transform: uppercase;

        .stroke {
            color: transparent;
            -webkit-text-stroke: 1px var(--primary-color);
        }

        .square {
            position: absolute;
            display: inline-block;
            width: 130px;
            height: 130px;
            border: 1px solid #4b4b4b;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;
        width: 100%;
        height: auto;
    }

    &__item {
        list-style: none;
        width: calc(33.33% - 27px);
    }

    &__p {
        font-size: 20px;
    }
    &__num{
        display: inline-block;
        font-size: 60px;
        color: transparent;
        -webkit-text-stroke: 1px var(--primary-color);
    }
}


@media only screen and (max-width: 768px) {
    .benefits{
        .content{
            padding: 0 40px;
        }
        .section_title{
            font-size: 40px;
            text-align: center;
        }
        &__list{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
        &__item {
            width: 50%;
        }
        &__num{
            font-size: 30px;
        }
        &__p{
            font-size: 16px;
        }
    }
}

@media only screen and (max-width: 425px) {
    .benefits{
        &__list{
            gap: 40px 10px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}